/.vs
/.vscode
/CaetanoSoft.JavaDemoApp/build
/CaetanoSoft.JavaDemoApp/dist
/CaetanoSoft.JavaDemoApp/test
/CaetanoSoft.Library/build
/CaetanoSoft.Library/dist
/CaetanoSoft.Library/test
/Setup/JavaPOS
/Setup/javaComm
/Setup/MySQL JDBC

