/CaetanoSoft.JavaDemoApp/build
/CaetanoSoft.JavaDemoApp/lib
/CaetanoSoft.JavaDemoApp/test
﻿/CaetanoSoft.Library/build
/CaetanoSoft.Library/lib
/CaetanoSoft.Library/test
/Setup/JavaPOS
/Setup/javaComm

